import url('https://fonts.googleapis.com/css2?family=Jura:wght@700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body {
    background-color: #e9ecef;
    font-family: 'Space Mono', monospace;
}

.zzz-login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.zzz-login-card {
    background: #fff;
    border: 4px solid #000;
    box-shadow: 8px 8px 0px #000;
    width: 100%;
    max-width: 550px;
    padding: 40px;
    position: relative;
}

/* Chữ đỏ, viền đen đập thẳng vào mắt */
.zzz-title {
    font-family: 'Jura', sans-serif;
    color: #dc3545;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #000;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.btn-zzz {
    background-color: #00ffaa;
    color: #000;
    border: 3px solid #000;
    font-weight: 900;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.1s;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    font-size: 1.2rem;
}

    .btn-zzz:hover {
        transform: translate(-2px, -2px);
        box-shadow: 6px 6px 0px #000;
        background-color: #00e699;
        color: #000;
    }

    .btn-zzz:active {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px #000;
    }
